/* **************  */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
header {
  text-align: center;
  background-color: #125a57;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  padding: 20px 0;
}
/* **************  */

/* picture section start */
.profile-header {
  background-image: url("../img/bg-fix.png");
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  padding: 50px 0;
}
.profile-photo-container {
  position: relative;
  display: inline-block;
  z-index: 1;
}
.profile-photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 5px solid white;
  background-color: white;
  position: relative;
  z-index: 2;
}
.profile-header h2,
.profile-header p {
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
/* picture section end */

/* main section start */
main {
  padding: 20px;
  background-color: #8da5a4;
  flex: 1;
}
.content {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: flex-start;
}
.story,
.personal-info {
  width: 50%;
  padding: 0 20px;
}
.content h2 {
  text-align: center;
}
.content p,
.content ul {
  text-align: justify;
}
.content ul {
  padding-left: 70px;
}
/* main section end */

/* footer section start */
footer {
  text-align: center;
  background-color: #125a57;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  padding: 20px 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-top: 10px;
}
footer h3 {
  margin-bottom: 50px;
}
.social-icons a {
  margin: 0 40px;
  display: inline-block;
}
.social-icons img {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}
.social-icons a:hover img {
  opacity: 0.7;
}
/* footer section end */
